.top{
    background-color:black;
  }
  .one{
    border-radius: 50%;
  }
  ul{
    list-style-type: none;
  }
  .row{
    color: aliceblue;
    background-image: url('https://images.pexels.com/photos/269810/pexels-photo-269810.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    margin: 2px;
    width:100%;
    background-position-y: 100%;
  }